/***************
      menu
 ***************/
.menu {
  list-style-type: none;
  padding: 0;
}

.menu__item {
  display: inline-block;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
}

.menu__item a {
  display: block;
  padding: 15px 30px;
}

.submenu {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 0;
  background-color: white;
  text-align: left;
}

.menu__item:hover {
  background-color: lavender;
}

.menu__item:hover .submenu {
  display: block;
}

.menu__item:hover .submenu li:hover {
  background-color: rgb(206, 206, 255);
}

.banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - 55px);
}

/***************
    container
 ***************/
.container {
  display: flex;
  height: calc(100vh - 55px);
  background-color: lavender;
}

.container--row {
  flex-flow: row wrap;
}

.container--col {
  flex-flow: column wrap;
}

/***************
    form
 ***************/
form {
  display: flex;
  flex-flow: column wrap;
  margin: 5vh 20vw;
  width: 30%;
}

input {
  margin: 10px;
}

input[type='submit'],
input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 10px 15px;
}

label {
  margin: 10px;
  font-size: 1.1em;
}

form p {
  margin: 10px;
}

form a:hover {
  color: slateblue;
}